:host{
    display: block;
    height: 100vh;
    overflow: hidden;
    position: relative;    
}

.background-video {
    position: absolute;
    top: 0;
    left: o;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}
